.main-nav{
	z-index:999;
	height:60px;
	background-color: transparent;
	position:fixed;
	width:100%;
	h4,{
		display:inline-block;
		font-family: 'Montserrat';
		font-size:24px;
		margin:20px 0 0 50px;
		.js-h4{
			width:90px;
			height:50px;
		}
	}
	ul{
		float:right;
		margin-right:100px;
		margin-top:26px;
	}
	ul a{
		text-decoration:none;
		color:black;
	}
	ul li{
		display:inline;
		margin:1px 15px 0 15px;
		@include font-regular;
		font-size:20px;
	}
	li:hover{
		border-bottom: 1px solid black;
		padding-bottom:8px;
		@media #{$menu-nav-mq}{
			border-bottom:none !important;
			padding-bottom:0;
			text-decoration: line-through;
		}
	}
}

.main-nav-active{
	background-color:black;
	color:white;
	z-index:999;
	height:60px;
	position:fixed;
	width:100%;
	transition: background-color .4s black;
	h4{
		display:inline-block;
		font-family: 'Montserrat';
		font-size:24px;
		margin:20px 0 0 50px;
	}
	ul{
		float:right;
		margin-right:100px;
		margin-top:20px;
	}
	ul a{
		text-decoration:none;
		color:white;
	}
	ul li{
		display:inline;
		margin:1px 15px 0 15px;
		@include font-regular;
		font-size:20px;
	}
	li:hover{
		border-bottom: 1px solid white;
		padding-bottom:8px;
		@media #{$menu-nav-mq}{
			border-bottom:none !important;
			padding-bottom:0;
			text-decoration: line-through;
		}
	}
}
.menu-icon{
	position:fixed;
	right:20px;
	top:20px;
	width:32px;
	height:32px;
	font-size:28px;
	display:none;
	@media #{$menu-nav-mq}{
		display:block;
	}
}

.ul-active{
	display: block;
	position:relative;
	right:-1000px;
	margin-top:10px !important;
	width:100%;
	padding-left:0;
	color:black;
	border-top:2px solid #e8e8e8;
	border-bottom:2px solid #e8e8e8;
	margin-right:0 !important;
	transition: right 1s ease;
}
.ul-active-show{
	right:0;
}
.li-active{
	display:block !important;
	margin:0;
	text-align: center;
	list-style-type:none;
	font-size:20px;
}
.vidal{
	display:flex;
	flex-direction: row;
	height:800px;
	@media #{$from0pxto727px}{
		flex-direction:column;
	}
	> .vidal-button{
		background-color:#ffffff;
		width:50%;
		@media #{$from0pxto727px}{
			width:100%;
		}
	}
}

.vidal-button-frame-left{
	border:17px solid #e8e8e8;
	height:491px;
	position:relative;
	top:25%;
	left:-50%;
	@media #{$from0pxto727px}{
		position:initial;
		height:380px;
		border: 10px solid #e8e8e8;
	}
	
}
.vidal-button-container{
	display:inline-block;
	position:relative;
	right:-75%;
	@media #{$from728pxto1000px}{
	 left:70%;
	}
	@media #{$from0pxto727px}{
	 width:310px;
	 margin:0 auto ;
		display:block;
		position:initial;
		margin-top:100px;
	}
	@media #{$from0pxto400px}{
		display:flex;
		flex-direction: column;
		width:280px;
		margin-top:70px;
	}
	> h1{
	@include font-bold;
	 font-size:48px;
	 margin-bottom:0;
	@media #{$from0pxto727px}{
	 text-align:center;
	 margin-bottom:15px;
	}

	}
	>span{
		display:block;
		@include font-regular;
		font-size:22px;
		margin-bottom: 20px;
		@media #{$from0pxto727px}{
	    text-align:center;
			margin-bottom:30px;
	 }
	}
	>button{
		clear:both;
		padding:0;
		border:none;
		@include font-regular;
		font-size:16px;
		
	}
	&-first-button{
		background:black;
		width:140px;
		height:50px;
		margin-right:20px;
		color:white;
		@include black-button-shadow;
		@media #{$from728pxto1000px}{
		width:200px;
		}
		@media #{$from0pxto727px}{
		width:140px;
		margin-right:5px;
		margin-left:10px;
	   }
		@media #{$from0pxto400px}{
			width:200px;
			margin:auto;
			margin-bottom:20px;
		}
		
	}
	.vidal-button-container-first-button:hover{
		@include button-hover-white;
		transition:background-color .4s ease;
	}
	.vidal-button-container-first-button:active{
		background:black;
		color:white;
	}
	
	&-second-button{
		background:#ffffff;
		width:170px;
		height:50px;
		border:1px solid black !important;
		@media #{$from728pxto1000px}{
			display:block;
			width:200px;
			margin-top:20px;
		}
		@media #{$from0pxto727px}{
	width:140px;
	  }
		@media #{$from0pxto400px}{
			width:200px;
			margin:auto;
		}
	}
}
.vidal-button-container-second-button:hover{
	@include button-hover-black;
	transition: background-color .4s ease;
}
.vidal-button-container-second-button:active{
	background-color:white;
	color:black;
}

.vidal-photo{
	background:#e1e1e1;
	width:50%;
	overflow:hidden;
	@media #{$from0pxto727px}{
	 width:100%;
		height:400px;
	}
	&-frame-right{
		border: 13px solid #ffffff;
		height:375px;
		position:relative;
		right:-65%;
		top:33%;
		@media #{$from0pxto727px}{
	 	border:10px solid white;
			height:335px;
			position:relative;
			top:20px;
			width:90%;
			right:0;
			margin:0 auto;
		}
	}
	>img{
		position:relative;
		bottom:316px;
		left:200px;
		@media #{$from728pxto1000px}{
			left:50px;
		}
		@media #{$from0pxto727px}{
			left:10%;
			display:block;
			margin-left:auto;
			margin-right:auto;
			width:300px;
			height:535px;
		}
	}
}
